.site-header {
    position: relative;
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.site-header::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(255,255,255,0.5); /* Adjust opacity as needed */
    pointer-events: none;
    z-index: 1;
}

.site-header > * {
    position: relative;
    z-index: 2;
}

.site-header h1 a, .site-header p {
    color: #000 !important;
}